@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.brandNav {
	background-color: $teal_0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding: 2rem 0;
	width: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: $box_shadow_1;
	z-index: 20000 !important;
}

.brandNavOptions {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.logo {
	font-size: 42px;
	text-align: center;
	font-weight: $fontweight_bold;
	margin-bottom: 4rem;
}

.active {
	color: $teal_9 !important;
}

.icon {
	margin-left: -5px;
	font-size: 32px;
	color: $grey_7;
}

.iconBox {
	border-left: 5px solid transparent;
	height: 6rem;
	margin-bottom: 1rem;

	&:hover {
		background-color: $teal_1;
	}

	&_selected {
		border-left: 5px solid $teal_9;
	}
}
