@import '../../styles/guidelines.scss';

.checkoutWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    
    h2 {
        font-size: 24px;
        font-weight: $fontweight_medium;
    }

    @media (max-width: 1000px) {
        padding: 0 30px;
        width: calc(100% - 60px);
    }
}

.checkoutButton {
    background: $prim_dark_2 !important;
    // background: radial-gradient(circle at 4.3% 10.7%, rgb(138, 118, 249) 13.6%, rgb(75, 252, 235) 100.7%);
}